# 依赖项
**/node_modules/
**/dist/

# 开发环境配置
.env
.env.*

# 编辑器配置
**/.vscode/
**/.idea/

# 环境配置
.env

# 日志文件
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# 编辑器配置
.vscode/
.idea/

# 操作系统
.DS_Store
Thumbs.db

# 测试覆盖率
coverage/

# 系统临时文件
**/*.tmp
**/*.temp
**/Thumbs.db
**/Desktop.ini